<div class="m-5">
  <div class="w-full p-6 m-auto bg-slate-50 rounded-md shadow-md lg:max-w-lg">
    <h1 class="text-3xl font-semibold text-center">アイコンの編集</h1>
    <div class ="items-center åm-2">
  <%= form_with model: @created_icon, url: admin_created_icon_url(@created_icon), local: true do |form| %>
    <div class='my-4 flex items-center justify-center'>
      <div class="mx-2 flex items-center">
        <%= form.radio_button :status, 'published', id: 'status_published', class: 'radio' %>
        <%= form.label :status_published, '公開', class: 'form-check-label' %>  
      </div>
      <div class="mx-2 flex items-center">
        <%= form.radio_button :status, 'unpublished', id: 'status_unpublished', class: 'radio' %>
        <%= form.label :status_unpublished, '非公開', class: 'form-check-label' %>
      </div>
    </div>
    <div class='my-4 flex items-center justify-center'>
      <%= image_tag @created_icon.icon.variant(resize: '300x300').processed %>
    </div>
    <div class="form-control mt-6 text-center">
      <%= form.submit class: 'btn btn-accent' %>
    </div>
  <% end %>
    </div>
  </div>
</div>