<div class="col-sm-5 col-lg-4 mb-3">
  <div id="post-id-<%= post_icon.id %>">
    <div class="card">
      <%= link_to (post_icon_path(post_icon)), class: "btn",data: { turbo: false } do %>
        <div class="card-body text-center">
            <%= post_icon.title %>
            <%= post_icon.user.name %>
            <%= post_icon.created_at.to_date %>
        </div>
      <% end %>
    </div>
  </div>
</div>