<div class ="card">
  <div class ="items-center text-center m-2">
    <h2><%=@posticon.user.name%>のアイコン</h2>
    <p>タイトル: <%=@posticon.title%></p>
    <figure><%= image_tag @posticon.icon if @posticon.icon.attached? %></figure>
    <div>
      <% if current_user == @posticon.user %>
        <%= link_to "編集", edit_post_icon_path(@posticon),class: "link"%>
        <%= link_to "削除", post_icon_path(@posticon),class: "link link-error", data: { turbo_method: :delete } %>
      <% end %>
    </div>
    <%= link_to "一覧へ", icons_path , class:"link link-neutral" %>
  </div>
</div>