<h1 class="flex items-center text-lg font-bold">
        <h2 class="justify-center text-center text-xl font-bold">マイページ</h2>
        <div class ="card warning shadow-xl">
          <div class ="items-center p-5 text-center">
            <div class ="items-center text-center m-2 space-y-4">
              <%= form_with model: @user, local: true do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'w-full input input-bordered input-primary' %>
                <figure>
                  <% if current_user.current_icon.attached?%>
                    <div class="avatar">
                      <div class="w-40 rounded-full ring ring-success ring-offset-base-100 ring-offset-2 m-3">
                          <%= image_tag @user.current_icon %>
                      </div>
                    </div>
                  <% else %>  
                    <div class="avatar placeholder">
                      <div class="bg-neutral text-neutral-content rounded-full ring ring-success w-40 m-3">
                        <span class="text-l"><%=@user.name%></span>
                      </div>
                    </div>
                  <% end %> 
                </figure>
                <span class="icon">
                  <%= f.file_field :current_icon, accept: "image/jpeg,image/gif,image/png", class: "file-input w-full max-w-xs" %>
                </span>
                <div class='text-center'>
                  <%= f.submit "変更", class: "text-center btn" %>
                </div>
              <% end %>
            <div>
          <div>
        </div>
      </h1>