<div class="">
  <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-lg">
    <h1 class="text-3xl font-semibold text-center">ユーザー登録</h1>
    <div class= "space-y-4">
      <%= form_with model: @user, local: true do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'w-full input input-bordered input-primary' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'w-full input input-bordered input-primary' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'w-full input input-bordered input-primary' %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'w-full input input-bordered input-primary' %>
        <span class="text-center">
          <%= f.file_field :current_icon, accept: "image/jpeg,image/gif,image/png", class: "file-input w-full max-w-xs m-5" %>
        </span>
        <div class="text-3xl font-semibold text-center">
          <%= f.submit '新規登録', class: 'btn  my-3' %>
        </div>
      <% end %>
    </div>
    <div class='text-center link link-neutral'>
      <%= link_to 'ログインページへ', login_path %>
    </div>
  </div>
</div>