<div class="flex flex-wrap">
  <aside class="w-full md:w-1/3">
    <section class="p-4">
      <h1 class="flex items-center text-lg font-bold">
        <h2 class="justify-center text-center text-xl font-bold mb-5">マイページ</h2>
        <div class ="card bg-base-200 warning shadow-xl">
          <div class ="items-center p-5 text-center">
            <p class ="text-xl m-5"><%=@user.name%></p>
            <figure>
              <% if current_user.current_icon.attached?%>
                <div class="avatar">
                  <div class="w-40 rounded-full ring ring-success ring-offset-base-100 ring-offset-2 m-3">
                      <%= image_tag @user.current_icon %>
                  </div>
                </div>
              <% else %>  
                <div class="avatar placeholder">
                  <div class="bg-neutral text-neutral-content rounded-full ring ring-success w-40 m-3">
                    <span class="text-l"><%=@user.name%></span>
                  </div>
                </div>
              <% end %> 
            </figure>
          <div>
          <% if current_user == @user %>
            <%= link_to "編集", edit_user_path ,class:"link"%>
          <% end %>
        </div>
      </h1>
    </section>
  </aside>
  <div class="w-full md:w-2/3 p-4">
    <!-- ログイン状態に応じた表示、Tailwind CSSでスタイル -->
    <section class="flex justify-center">
      <h3 class="text-lg font-semibold justify-center">MyIcons: <%= @icons_all.count %></h3>
    </section>
    <div class="flex flex-wrap justify-center">
	    <% if @icons.present? %>
		    <% @icons.each do |icon| %>
			    <% if icon.is_a?(PostIcon) %>
				    <%= render 'icons/post_icon', icon: icon %>
			    <% elsif icon.is_a?(CreatedIcon) %>
				    <%= render 'icons/created_icon', icon: icon %>
		    	<% end %>
		    <% end %>
	    <% else %>
		    <p>投稿がありません。</p>
	    <% end %>
    </div>
    <div class="flex flex-wrap justify-center">
      <%= paginate @icons %>
    </div>
  </div>
</div>