<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to 'あいこん屋', root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to 'トップページ', root_path %></li>
        <li><%= link_to '投稿',  new_post_icon_path %></li>
        <li><%= link_to '投稿一覧',  post_icons_path %></li>
        <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }  %></li>
      </ul>
    </div>
  </div>
</header>
