
<header>
  <div class="navbar">
    <div class="flex-1">
      <%= link_to 'A.Icon', root_path, class: "btn btn-ghost text-3xl font-header_name" %>
    </div>
    <div class="flex-none md:hidden">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
          <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
        </div>
        <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4 font-body_style">
          <li><%= link_to 'アイコンAI生成', new_created_icon_path %></li>
          <li><%= link_to 'アイコンの保存', new_post_icon_path %></li>
          <li><%= link_to 'みんなのアイコン', icons_path %></li>
        </ul>
      </div>
      <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
            <% if current_user.current_icon.attached?%>
              <div class="avatar">
                <div class="w-8 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
                    <%= image_tag current_user.current_icon %>
                </div>
              </div>
            <% else %>  
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full ring ring-success w-8">
                  <span class="text-[0.5rem]"><%=current_user.name%></span>
                </div>
              </div>
            <% end %> 
          </div>
          
          <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4 font-body_style">
            <li><%= link_to 'マイページ', profile_path %></li>
            <li><%= link_to 'お気に入りのアイコン', like_icons_path(current_user) %></li>
            <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }  %></li>
          </ul>
        </div>
    </div>
    <div class="hidden md:block">
      <ul class="menu menu-horizontal px-1 items-center py-0 font-body_style">
        <li><%= link_to 'アイコンAI生成', new_created_icon_path %></li>
        <li><%= link_to 'アイコンの保存', new_post_icon_path %></li>
        <li><%= link_to 'みんなのアイコン', icons_path %></li>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
            <% if current_user.current_icon.attached?%>
              <div class="avatar">
                <div class="w-8 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
                    <%= image_tag current_user.current_icon %>
                </div>
              </div>
            <% else %>  
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full ring ring-success w-8">
                  <span class="text-[0.5rem]"><%=current_user.name%></span>
                </div>
              </div>
            <% end %> 
          </div>
          <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4 font-body_style">
            <li><%= link_to 'マイページ', profile_path %></li>
            <li><%= link_to 'お気に入りのアイコン', like_icons_path(current_user) %></li>
            <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }  %></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</header>
