<div class="card primary-content">
  <%= link_to (created_icon_path(created_icon)),data: { turbo: false } do %>
    <figure><%= image_tag created_icon.icon.variant(:display) if created_icon.icon.attached? %></figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title"><%= created_icon.title %></h2>
      <p>
        <%= created_icon.user.name %>
      </p>
      <p>
        <%= created_icon.created_at.to_date %></p>
    </div>
 <% end %>
</div>