<div class="">
  <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-lg">
     <h1 class="text-3xl font-semibold text-center">アイコンの生成</h1>
    <div class= "space-y-4">
      <%= form_with model: @createdicon, local: true do |f| %>
        <%= f.text_field :title, class: "w-full input input-bordered input-accent space-y-4", placeholder: 'キーワード' %>
        <div class='text-center my-4'>
          <%= f.radio_button :taste, 'cute', id: 'taste_cute', class: 'radio', checked: true %>
          <%= f.label :taste_cute, 'cute', class: 'form-check-label' %>  
          <%= f.radio_button :taste, 'cool', id: 'taste_cool', class: 'radio' %>
          <%= f.label :taste_cool, 'cool', class: 'form-check-label' %>
        </div>
        <div class='text-center'>
          <%= f.submit "生成", class: "text-center btn" %>
        </div>
      <% end %>
    <div>
    <div class='text-center link link-neutral'>
      <%= link_to '投稿一覧へ', icons_path %>
    </div>
  </div>
</div>