
<% assign_meta_tags title: @createdicon.title, image: @createdicon.icon %>

<div class="m-5">
  <div class ="w-full p-6 m-auto bg-slate-50 rounded-md shadow-md lg:max-w-lg">
    <div class ="items-center text-center m-2">
      <div  class="flex justify-center">
        <% if @createdicon.user.current_icon.attached?%>
          <div class="avatar p-2">
            <div class="w-8 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
                <%= image_tag @createdicon.user.current_icon %>
            </div>
          </div>
        <% else %>  
          <div class="avatar placeholder p-2">
            <div class="bg-neutral text-neutral-content rounded-full w-8">
              <span class="text-[0.5rem]"><%=@createdicon.user.name%></span>
            </div>
          </div>
        <% end %> 
        <div class="p-2 text-lg font-bold">
          <p><%= @createdicon.user.name %> のアイコン</p>
        </div>
      </div>
      <p class="p-1 text-lg font-bold">タイトル: <%=@createdicon.title%></p>
      <p class="p-1 text-lg font-bold">テイスト: <%=@createdicon.taste%></p>
      <figure>
        <div class="avatar">
          <div class="w-40 rounded-full ring ring-accent ring-offset-base-100 ring-offset-2 m-3">
              <%= image_tag @createdicon.icon %>
          </div>
        </div>
      </figure>

    <div class ="text-center m-2">
      <% if current_user == @createdicon.user %>
        <%= link_to "https://twitter.com/share?url=#{created_icon_url(@createdicon)}&text=アイコンを生成したよ！
        %0a【キーワード: #{@createdicon.title}】
        %0a%20%23AIcon
        %20%23RUNTEQ祭
        @takuywater%0a",
        title: 'Twitter',class:'btn rounded-md shadow-md mx-3', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
          </svg> シェア
        <% end %>
      <% end %>
      </div>
      <div class="m-5 flex justify-center">
       <% if current_user == @createdicon.user %>
          <%= link_to edit_created_icon_path(@createdicon) do %>
            <div class="text-xl px-5 link flex items-center justify-center">
              <div class="px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </div>
              編集
            </div>
            <% end %>
          <%= link_to created_icon_path(@createdicon), data: { turbo_method: :delete } do %>
            <div class="text-xl link link-error px-5 flex items-center justify-center">
              <div class="px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
              </div>
              削除
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "アイコン一覧へ", icons_path , class:"link link-neutral text-xl" %>
    </div>
  </div>
</div>
