<div class="card m-5 bg-slate-50 shadow-xl">
  <%= link_to (created_icon_path(icon)) do %>
    <div class="avatar mt-5 mx-5 justify-content">
      <div class="w-40 rounded-full ring ring-accent justify-center">
        <%= image_tag icon.icon.variant(resize: '180x180').processed if icon.icon.attached? %>
      </div>
    </div>
  <% end %>
  <div class="card-body items-center text-center py-2">
    <%= link_to (created_icon_path(icon)) do %>
      <div>
        <% if icon.status == "published" %>
          <div class="badge m-2">公開中</div>
        <% else %>
          <div class="badge badge-neutral m-2">非公開</div>
        <% end %> 
      </div>
      <div class="flex items-center text-center">
        <% if icon.user.current_icon.attached?%>
          <div class="avatar p-2">
            <div class="w-8 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
                <%= image_tag icon.user.current_icon.variant(resize: '70x70').processed %>
            </div>
          </div>
        <% else %>  
          <div class="avatar placeholder p-2">
            <div class="bg-neutral text-neutral-content rounded-full w-8">
              <span class="text-[0.5rem]"><%=icon.user.name%></span>
            </div>
          </div>
        <% end %>
        <div class="p-2">
          <%= icon.user.name %>
        </div>
      </div>
    <% end %>
    <% if logged_in? %>
      <div class='text-center'>
        <% if current_user.created_icon_like?(icon) %>
          <%= render 'created_icon_likes/unlike', { icon: icon } %>
        <% else %>
          <%= render 'created_icon_likes/like', { icon: icon } %>
        <% end %>
      </div>
    <% end %>
    <p><%= icon.created_at.to_date %></p>
  </div>
</div>