<div class="card primary-content m-5 bg-base-100 shadow-xl">
  <%= link_to (post_icon_path(icon)),data: { turbo: false } do %>
    <div class="avatar m-5 justify-content">
      <div class="w-40 rounded-full ring ring-primary justify-center">
        <%= image_tag icon.icon if icon.icon.attached? %>
      </div>
    </div>
    <div class="card-body items-center text-center">
      <div>
        <% if current_user.current_icon.attached?%>
          <div class="avatar">
            <div class="w-8 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
                <%= image_tag icon.user.current_icon %>
            </div>
          </div>
        <% else %>  
          <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content rounded-full w-8">
              <span class="text-[0.5rem]"><%=icon.user.name%></span>
            </div>
          </div>
        <% end %> 
        <%= icon.user.name %>
      </div>
      <p>
        <%= icon.created_at.to_date %></p>
    </div>
  <% end %>
</div>