<div class="">
  <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-lg">
     <h1 class="text-3xl font-semibold text-center">ログイン</h1>
    <div class= "space-y-4">
      <%= form_with url: login_path, local: true do |f| %>
          <%= f.label :email %>
          <%= f.text_field :email, class: 'w-full input input-bordered input-primary' %>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'w-full input input-bordered input-primary space-y-4' %>
          <%= f.submit 'ログイン', class: 'btn my-3' %>
      <% end %>
    <div>
    <div class='text-center'>
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to '登録ページへ', new_user_path %></li>
        <li><%= link_to 'パスワードをお忘れの方はこちら', new_user_path %></li>
      </ul>
    </div>
  </div>
</div>