<!DOCTYPE html>
<html>
  <head>
    <title>A.Icon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://www.aicon-app.com" />
    <meta property="og:title" content="A.Icon" />
    <meta property="og:description" content="生成AIで アイコン作成 お手伝いします。" /> 
    <meta property="og:image" content="<%= image_url "og_image.png" %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  </head>

  <body class= "bg-sky-50 flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
    <div class= "font-body_style flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
